{:aliases
 {:build {:deps {com.github.liquidz/build.edn {:mvn/version "0.9.216"}}
          ;; You could also specify a git tag and sha
          ;; :git/tag "0.9.216" :git/sha "2f7d56e"
          :ns-default build-edn.main}}}
